.contacto {
    display: flex;
    align-items: center;
    position: absolute;
    right: 400px;
    top: 90px;
    height: 650px;
    width: 60%;
    background: linear-gradient(45deg, rgba(235, 235, 249, 0.8) 0%, transparent 110%), url('../img/ejemplo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 4px solid #5878ca;
}

.contactofondo {
padding: 250px;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.titulo {
font-size: 30px;
color: #002587;
padding: 5px;
}

.generaltext {
font-size: 15px;
color: #002587;

}
.required {
font-size: 15px;
color: #002587;

}

.input {

font-size: 15px;
color: #000000;
padding: 2px 5px;
height: 20px;
    width: 80px;
border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

#submit_button.button {

  background-color: #ffffff; /* Color de fondo del botón */
  color: #002587; /* Color del texto */
  padding: 10px 20px; /* Espaciado dentro del botón */
 border: 1px solid #002587;
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  font-size: 16px; /* Tamaño del texto */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones para efectos de hover */
}

#submit_button.button:hover {

  background-color: #ffffff; /* Cambiar el color de fondo en el hover */
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

.inputmessage {

font-size: 15px;
color: #000000;
padding: 2px 5px;
height: 80px;
    width: 625px;
border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

 .modal {

            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
        }

#open-captcha-modal {
display: flex;
    align-items: center;
    position: absolute;
    right: 495px;
    top: 417px;
    background-color: #0c1774; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón (arriba/abajo izquierda/derecha) */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor al pasar por encima */
}

#open-captcha-modal:hover {
     color: #0c1774;
    background-color: #fff; /* Cambio de color de fondo al pasar por encima */
}