@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

.textoproducto {

font-size: 60px;
font-family: 'Merriweather', serif;
font-weight: bold;
color: black !important;
justify-content: center;
padding: 2.5%;
}

.detalles {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    height: 100%;
}


.detalles1,.detalles2 {
    flex: 1; /* Que cada elemento ocupe la mitad del espacio disponible */
    padding: 10px; /* Espaciado opcional para separar los elementos */
    box-sizing: border-box; /* Incluir el relleno en el tamaño total del elemento */
    
}

.previstaimg {

    width: 90%;
    height: 40%;
    padding-left: 3%
}

.especificaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    font-weight: bold;
    font-size: 24px;
    gap: 15px;
    width: 85%;
    color: black !important;
    font-family: 'Merriweather', serif;
}
.pnglogos {
    width: 8%;
    height: 8%;
}
.rentade {
    background-color: #fab059;
    width: 80%;
    height: 8%;
    font-weight: bold;
    font-size: 20px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline-start: 6%;
    color: black !important;
    font-family: 'Merriweather', serif;
}
.txtrenta{
    margin-left: 3%;
    font-style: oblique
}

.contac1 {
    padding-left: 30px;
}

#miInput::placeholder {
    text-align: left !important;
  }
  

.buttondepa {
        background-color: #0c1774;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

.detalles2 {
    background-color: #fab059;
    height: 700px;
    width: 80%;
    color: black;
    font-family: 'Merriweather', serif;
}

.imgredes {
    width: 10%;
    height: 10%;
    margin: 2%;
}

.miboton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0c1774;
    color: white;
    border: none;
    border-radius: 5px;
}

.caracter {
    font-weight: bold;
    font-size: 32px;
    color: black !important;
    padding: 5%;
    height: 100%;
    font-family: 'Merriweather', serif;
}

.textcaracter {
    font-size: 21px;
    width: 65%;
    margin-inline-start: 2%;
    color: black !important;
    font-family: 'Merriweather', serif;
}

.detalletext {
    font-size: 20px;
    font-weight: bold;
    margin-inline-start: 8%;
    color: black !important;
    
}

 /* Estilos adicionales para personalizar el carrusel */
 .responsive {
    width: 450px;
    height: 60px;
    right: 3%;
    background-color: white;
  }


  /* Establecer tamaño de las imágenes */
  .responsive img {
    width: 120px;
    height: 70px;
    border-radius: 5px; /* Agrega bordes redondeados a las imágenes */

    }

.resultadou {
    width: 39px;
    height: 70px;
    background-color: #fab059;
    align-items: center;
    justify-content: center;
    
}

iframe {
    width: 80px; /* Ocupa el 100% del ancho del contenedor */
    height: 300px; /* Establece la altura del iframe */
    border: #fab059; /* Elimina el borde del iframe, si lo deseas */
}
